/thinpad_top.cache/
/thinpad_top.sim/
/thinpad_top.ip_user_files/
/thinpad_top.runs/*
!/thinpad_top.runs/impl_1/
/thinpad_top.runs/impl_1/*
!/thinpad_top.runs/impl_1/thinpad_top.bit
/.vscode/
.DS_Store
